@charset "UTF-8";
header{
	font-size: 20px;
}
body{
	margin: 0;
	-webkit-text-size-adjust: 100%;
}
h1{
	font-size:1em;
	color: #6b3008;
	text-align: center;
}
h2 {
	text-align: center;
}
h3{
	border-left: solid 6px #6b3008;
	padding-left: 6px;
	
}
h4{
	text-align: center;
}
.kakuu{
	border-top: solid 3px #000000;
	text-align:center;
}

#cafesyoukai{
	background-color: #ffefd5;
	color:#191970;
}
article{
	padding: 32px 16px;
}
section{
	margin: 48px 0;
}
.cake{
	margin: 0 0 24px;
}
table{
	border-collapse: collapse;
	width: 100%;
}
th,td{
	border: solid 1px #999999;
	padding: 16px;
}
th{
	background-color: #62d5e8;
}

.navigation ul li{
	list-style-type: none;
	display: inline;
	margin: 0 8px;
}
.navigation ul{
	background-color: #ffefd5;
	margin:0;
	text-align:center;
}
.navigation ul li a{
	color:#191970;
	text-decoration: none;
}

.navigation ul li a:hover{
	color:red;
	text-decoration: underline;
}

.omisetennai{
	background-color:#eee8aa;
	border-bottom: solid 3px #000000;
	
}
.omisetennai img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.cake img{
	float:right;
	margin: 0 16px 0 0;
}
.cake{
	margin: 0 0 24px;
	overflow: hidden;
}
.cake h4{
	margin: 0 0 0.5em;
}
.cake p{
	margin:0;
}
#omisejyouhou{
	max-width: 600px;
	margin: 0 auto;
}
#cafesyoukai .inner{
	max-width: 600px;
	margin: 0 auto;
}
